.App {
  text-align: center;
}

.far-right {
  float: right;
  margin: 5px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.dark {
  background-color: #333 !important;
  color: #fff !important;
  border: none !important;
}
.light {
  background-color: #fff !important;
  color: #333 !important;
  border: none !important;
}


/* https://stackoverflow.com/questions/19092014/css-float-right-not-working-correctly
   https://blog.hubspot.com/website/center-div-css
   https://mwichary.medium.com/dark-theme-in-a-day-3518dde2955a
   https://herculino.com/en/blog/semantic_ui_darkmode_part1.html

*/

